(
    palette: Dark((
        name: "matugen-dark",
        bright_red: "#FFA09AFF",
        bright_green: "#5EDB8CFF",
        bright_orange: "#FFA37DFF",
        gray_1: "{{colors.surface.dark.hex}}FF",
	gray_2: "{{colors.surface_container.dark.hex}}FF",
	neutral_0: "#000000FF",
	neutral_1: "{{colors.surface.dark.hex}}FF",
	neutral_2: "{{colors.surface_container_low.dark.hex}}FF",
	neutral_3: "{{colors.surface_container.dark.hex}}FF",
	neutral_4: "{{colors.surface_container_high.dark.hex}}FF",
	neutral_5: "{{colors.surface_container_highest.dark.hex}}FF",
        neutral_6: "#808080FF",
        neutral_7: "#9E9E9EFF",
        neutral_8: "#BEBEBEFF",
        neutral_9: "#DEDEDEFF",
        neutral_10: "#FFFFFFFF",
        accent_blue: "{{colors.primary.dark.hex}}FF",
        accent_indigo: "#A1C0EBFF",
        accent_purple: "#E79CFEFF",
        accent_pink: "#FF9CB1FF",
        accent_red: "#FDA1A0FF",
        accent_orange: "#FFAD00FF",
        accent_yellow: "#F7E062FF",
        accent_green: "#92CF9CFF",
        accent_warm_grey: "#CABAB4FF",
        ext_warm_grey: "#9B8E8AFF",
        ext_orange: "#FFAD00FF",
        ext_yellow: "#FEDB40FF",
        ext_blue: "{{colors.primary.dark.hex}}FF",
        ext_purple: "#CF7DFFFF",
        ext_pink: "#F93A83FF",
        ext_indigo: "#3E88FFFF",
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 4,
        space_xs: 8,
        space_s: 8,
        space_m: 16,
        space_l: 24,
        space_xl: 32,
        space_xxl: 48,
        space_xxxl: 64,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (2.0, 2.0, 2.0, 2.0),
        radius_s: (2.0, 2.0, 2.0, 2.0),
        radius_m: (2.0, 2.0, 2.0, 2.0),
        radius_l: (2.0, 2.0, 2.0, 2.0),
        radius_xl: (2.0, 2.0, 2.0, 2.0),
    ),
    neutral_tint: Some("{{colors.surface_container_highest.dark.hex}}FF"),
    bg_color: Some("{{colors.surface.dark.hex}}FF"),
    primary_container_bg: Some("{{colors.surface_container_low.dark.hex}}FF"),
    secondary_container_bg: Some("{{colors.surface_container.dark.hex}}FF"),
    text_tint: Some("{{colors.on_surface.dark.hex}}FF"),
    accent: Some("{{colors.primary.dark.hex}}FF"),
    success: Some("#5EDB8CFF"),
    warning: Some("#FFA37DFF"),
    destructive: Some("#FFA09AFF"),
    frosted: Medium,
    gaps: (0, 6),
    active_hint: 2,
    window_hint: None,
    frosted_windows: true,
    frosted_system_interface: true,
    frosted_panel: true,
    frosted_applets: true,
    frosted_maximized_apps: false,
    alpha_map: (
        extremely_low: 0.9,
        extremely_low_2: 0.87692,
        very_low: 0.85385,
        very_low_2: 0.83076,
        low: 0.80769,
        low_2: 0.78461,
        medium: 0.76154,
        medium_2: 0.73846,
        high: 0.71538,
        high_2: 0.69231,
        very_high: 0.66023,
        very_high_2: 0.64615,
        extremely_high: 0.62308,
        extremely_high_2: 0.6,
    ),
)
